<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  LOGS FOR APPLICATION  -->
    <appender name="SERVICE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>/var/log/portal/gram-sadak/gram-sadak.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/portal/gram-sadak/gram-sadak.log.%d{yyyyMMdd}.gz
            </fileNamePattern>
            <maxHistory>35</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t|%c{3}.%M:%L] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.andagency" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="SERVICE" />
    </logger>

    <!-- LOGS for Spring Framework -->
    <appender name="SPRING"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>/var/log/portal/gram-sadak/gram-sadak-spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/portal/gram-sadak/gram-sadak-spring.log.%d{yyyyMMdd}.gz
            </fileNamePattern>
            <maxHistory>35</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t|%c{3}.%M:%L] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="SPRING" />
    </logger>

    <!-- LOGS for HIBERNATE -->
    <appender name="HIBERNATE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>/var/log/portal/gram-sadak/gram-sadak-hibernate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/portal/gram-sadak/gram-sadak-hibernate.log.%d{yyyyMMdd}.gz
            </fileNamePattern>
            <maxHistory>35</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t|%c{3}.%M:%L] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="HIBERNATE" />
    </logger>

    <!-- LOGS for HTTP REQUESTS -->
    <appender name="HTTP"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>/var/log/portal/gram-sadak/gram-sadak-http.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/portal/gram-sadak/gram-sadak-http.log.%d{yyyyMMdd}.gz
            </fileNamePattern>
            <maxHistory>35</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t|%c{3}.%M:%L] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="HTTP" />
    </logger>

</configuration>
