<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>PRADHAN MANTRI GRAM SADAK YOJANA</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div id="content">
<body>
   <br/><br/><hr/><br/>
   <center>
       <table>
       	<tr>
       		<td><img th:src="@{/../images/PMGSY.jpg}" src="../images/PMGSY.jpg" class="img-responsive" alt="Responsive image"/></td>
       	<td>
       	<center>
	       	<h2>PRADHAN MANTRI GRAM SADAK YOJANA</h2>
		    <h3>DISTRICT lABORATORY, M.R.R.D.A THANE.</h3>
		    <h4>Test Result Sheet</h4>
	    <center>
       	</td>
       	<td><img th:src="@{/../images/PMGSY.jpg}" src="../images/PMGSY.jpg" class="img-responsive" alt="Responsive image"/></td>
       </tr>
       </table>
   <br/><br/><hr/><br/>
   <dev>
    <ul>
	    <li><a th:href="@{|/testResultSheet|}" th:color="white">TestResultSheet Form</a></li>
      </ul>
	    <li>Test Form</li>
	    <li>Test Form</li>
    </ul>
  </center>
  
   </dev>
   
   <br/><br/><hr/>
</body>
</html>